.box{
    width: 100px;
    height: 100px;
    color: white;
    background-color: purple;
}

.main{
    display: flex;
    justify-content: space-between;
}

.sub-main{
    display: flex;
}

.margin{
    margin-right: 5px;
}