h1{
    color : #9b59b6;
}

h1::before{
    content : "Topic : "
}

h1:first-child{
    text-align: center;
}

p{
    font-size : 16px;
    font-family: Verdana;
    font-style : italic;
}

p::first-letter{
    font-size : 200%;
    color : #2980b9
}

.sub-header{
    color : #2980b9;
}

/*div{
    padding : 10%
}*/

.challenge2{
    background-color: #840b2a;
    background-image :
    linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
    background-size: 100%;
    padding : 10%
}